Mailbox headers incorrectly encoded

When a mailbox header (eg. From, To) includes extended chars, it needs to be encoded. However only the mailbox name allows extended chars, and the RFC requires the the address is not encoded.

[RFC5322 §3.4](https://tools.ietf.org/html/rfc5322#section-3.4)

## Example

```php
$header = 'From';
$displayName = '"Nâmé wïth non-ASCII chars"';
$angleAddr = '<from@mail.example.com>';

$expected = 'From: =?UTF-8?B?' . base64_encode($displayName) . '?= ' . $angleAddr . "\r\n";
$actual = 'From: =?UTF-8?B?' . base64_encode("{$displayName} {$angleAddr}") . '?=' . "\r\n";
```

@Pudge601 

This is another case of `mb_encode_mimeheader()` being too general in its behaviour. It's going to get quite involved to correctly handle encoding just the mailbox `display-name` and not the `angle-addr`, especially when also considering the `mailbox-list` syntax which may be used for `To:` and `Cc:`.

At this point I think it's beyond the scope of this package. If the focus is on parsing a whole email into its components so they can be manipulated to then be rebuilt, how do you feel about using something like Symfony/Mime to handle the correct encoding? It has classes to deal with specific header syntax, eg. [NamedAddress](https://github.com/symfony/mime/blob/4.3/NamedAddress.php)

Some (wrongly) public methods would no longer be needed so can be deprecated in lieu of a new major version, however perhaps with adding the first external dependency a major version would be a better option, and just get rid of the public encode/address methods.

Definitely would be happy to see the wrongly public methods made private in a new version 😄

Sounds reasonable to be using another library to handle some of the logic for encoding/decoding of headers, so your solution seems good to me 👍