Long headers using multiple encoded words include an extra whitespace in PHP 8.3

A subject line header like

```
Subject: =?UTF-8?B?QnVzaW5lc3MgQ29udGlu?=
  =?UTF-8?B?dWl0eSBQbGFuIC0gwqMxMDAgZGlzY291bnQ=?=
```

Should output as:
```
Business Continuity Plan - £100 discount
```

but in PHP v8.3+, the output is:
```
Business Contin uity Plan - £100 discount
```

with an extra space added between the two encoded-words. This is due to a new PHP mbstring implementation, which is more correctly following [RFC 2047](https://datatracker.ietf.org/doc/html/rfc2047#section-2), which says under Syntax:

> An 'encoded-word' may not be more than 75 characters long [...] .  If it is desirable to encode more text than will fit in an 'encoded-word' of 75 characters, multiple 'encoded-word's (separated by CRLF SPACE) may be used.

The original [RFC 1342](https://datatracker.ietf.org/doc/html/rfc1342) said:

> Use of encoded-words in message headers
> 
>    ... An encoded-word must be separated from an adjacent encoded-word, "word", "text", "ctext", or "special" by a linear white-space character or a newline.  When displaying a particular header field" (in the RFC 822 sense) containing one or more encoded-words, an unencoded SPACE character that immediately follows the encoded-word is not displayed. ...

The difference is that rather than saying any whitespace between encoded-words should not be displayed, RFC 2047 is specific to a separator of `CRLF SPACE` between encoded-words.

The CRLF is stripped when Mailparse reads the headers, so the string being decoded (using the example above) is simply:

```
"=?UTF-8?B?QnVzaW5lc3MgQ29udGlu?= =?UTF-8?B?dWl0eSBQbGFuIC0gwqMxMDAgZGlzY291bnQ=?="
```

which `mb_decode_mimeheader()` in PHP v8.3+ does not suppress the whitespace as it is not preceded by `CRLF`.

The change of mbstring in PHP v8.3 _does_ fix a previous decode bug for underscores which this package had to work around:
https://bugs.php.net/bug.php?id=68821

Fix mentioned in changelog:
https://www.php.net/manual/en/migration83.other-changes.php#migration83.other-changes.functions.mbstring

Commit: https://github.com/php/php-src/commit/8995f602584a5267999f51cbc73f8c03eee36074